@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&display=swap');
    body {
        font-family: 'Montserrat Alternates', sans-serif;
        background-color: #ffffff;
        padding: 20px;
    }
    
    h1 {
        text-align: center;
        color: #333;
    }
    
    .contact-form {
        max-width: 400px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    label,
    input,
    textarea {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }
    
    label {
        font-weight: bold;
    }
    
    input,
    textarea {
        padding: 10px;
        border: 1px solid #000000;
        border-radius: 3px;
    }
    
    input[type="submit"] {
        background-color: #8dcbc7;
        color: #000000;
        border: none;
        padding: 10px;
        cursor: pointer;
    }
    
    input[type="submit"]:hover {
        background-color: #555;
    }
